body {
  font-family: 'Raleway', sans-serif;
}
/*title*/
#title {
  background-color: #343a40;
  color: white;
  padding: 3% 15%;
}

#title .col-lg-6 {
  height: 600px;
}

.navbar-brand {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  position: relative;
  right: 1rem;
}

.col-lg-6 .fab {
  margin-right: 0.4rem;
}

.nav-link {
  color: white!important;
  font-size: 1.1rem;
  padding: 1.5rem!important;
  text-align: left;
}

.nav-link:hover {
  color: gray!important;
}

@media (min-width:992px){
  .iphn6img  {
    transform: scale(0.8) rotate(25deg);
  margin-left: 7rem;
  }
}



/* Mediaquery */

@media screen and (max-width: 991px) and (min-width:654px) {
  .iphn6img {
    transform: rotate(0) scale(0.7);
    position: relative;
    right: 10%;
    bottom: 13rem;
  }
}

.title-hdng {
  padding-top: 5rem;
  font-size: 4.7rem;
  font-family: "ubuntu",sans-serif;
}
@media (max-width:1118px) {
  .title-hdng {
    font-size: 4rem;
    padding-top: 4rem;
  }
}
@media (max-width:654px) {
  .title-hdng {
    font-size: 3rem;
    padding-top: 3rem;
  }
}
@media (max-width:654px) {
  #title .col-lg-6 {
    height: 400px;
  }

  .iphn6img {
    transform: rotate(0) scale(0.5);
    position: relative;
    bottom: 14rem;
    right:5rem;
  }
}


.btn {
  margin: 12% 3% 0;
  position: relative;
  right: 3%;
}
@media (max-width:567px) {
  .btn {
    transform: scale(0.8);
    margin: 1rem 0 0;
  }
}
@media (max-width:506px) {

  .iphn6img {
    position: relative;
    right:7.5rem;
    transform: scale(0.4);
    margin-top: 1rem;
  }
}

@media (max-width:441px) {
  .title-hdng {
    font-size: 2.7rem;
    padding-top: 2rem;
  }

  .iphn6img {
    position: relative;
    right: 6rem;
    transform: scale(0.4);
  }
}

@media (max-width:350px) {
  .title-hdng {
    font-size: 2.3rem;
  }
}


/* feedbacks */

#feedbacks {
  background-color:white;
  padding: 10% 15% 7%;
  text-align: center;
  position:relative;
  z-index: 1;
}

#feedbacks .fas {
  transform: scale(5);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#feedbacks .fas:hover {
  color: gray;
}

#feedbacks h2 {
  font-weight: 100;
}

#feedbacks .colon-lg-4 {
  padding: 15%;
}

#feedbacks p {
  color: gray;
}


/* Carousel */

#carousel {
  background-color:#343a40;
  color:white;
  text-align: center;
  padding: 11% 15%;
}

#carousel img {
height:10rem;
border-radius: 100%;
}

#carousel h3 {
  font-size: 2.5rem;
padding:0;
margin-bottom: 3rem;
}

em {
  margin-left: 3rem;
  color:grey;
}

/* pricing */

#pricing {
  padding:7% 15%;
  text-align: center;
}

.card {
  margin-bottom: 1rem;
}

#pricing h2 {
  font-size: 3rem;
  margin-bottom: 3%;
}

#pricing p {
  color:gray;
  margin-bottom: 3rem;
}

#pricing .card h2 {
  font-size: 2rem;
  padding-top:0.3rem;
}

.card-body h3 {
  margin-bottom: 1.5rem;
}

.card-body li {
  text-align: left;
  margin:1rem 0;
  font-size: 1.2rem;
}
#pricing .btn {
  width:80%;
}

@media (max-width:991px) and (min-width:768px) {
  .border-danger li {
    font-size: 2rem;
  }
  .btn-danger {
    margin-top: 2rem;
  }
}

@media (max-width:767px) {
#pricing li {
  font-size: 1.5rem;

}
#pricing .btn {
  margin-top: 1rem;
}
}


/* download */

#download {
  background-color: #343a40;
  color:white;
  padding: 7% 15% 1%;
  text-align: center;
}
#download h1 {
  font-size: 3.4rem;
}

#download .btn {
  margin-top:3rem;
  margin-bottom: 5rem;
}

#download .btn i {
  margin-right: 0.3rem;
}

.icons a {
transform: scale(1.7);
margin:0 1rem;
color:white;
text-decoration: none;
}

.icons .fa-twitter:hover {
  color:#0275d8;
}

.icons .fa-facebook-square:hover {
  color:#3b5998;
}

.fa-instagram:hover {
  color: #833AB4;
}

.fa-envelope:hover {
  color:gray;
}

.cprght {
  font-size: 0.7rem;
  margin-top: 4rem;
}
